form {
	display: inline-block;
	text-align: right;
}
form div {
	margin: 10px 0;
}
label {
	display: inline-block;
	width: 220px;
	text-align: right;
}

p:not(#result) {
	margin: 10px 0 10px 100px;
	font-size: 12px;
	color: red;
}
.redBorder {
	border: 1px solid red;
}
.redText {
	color: red;
}